@font-face {
	font-family: 'Hero';
	src: url("fonts/hero.otf");
}
@font-face {
	font-family: 'Roboto';
	src: url("fonts/Roboto-Bold_0.ttf");
}
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Hero';
	color: black;
	background-color: #ebecf0;
}
#sections-menu h4{
	font-family: 'Roboto';
}
a {
	color: black !important;
	text-decoration: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
.dot-unicode{
	font-size: 3px;
	vertical-align: middle;
}
.input {
    padding: 5px;
    border: none;
    border-bottom: solid 2px black !important;
}
.input, .form-label {
    border: none;
    float: left;
    width: 100%;
    color: #1b1c1f;
    font-size: 19px;
    font-weight: 100;
    padding: 17px 32px;
}

#menu button {
	background: none;
	border: none;
	padding-top: 15px;
	outline: 0;
	font-family: 'Roboto';
}
.logo-ht {
            height: 60px;
}
.nav-bar{
	width: 100%;
}
.navbar-default{
	position: fixed;
	z-index: 999;

	top: 0;
	left: 0;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;

	width: 100%;

	background: transparent;
	border: none !important;
	height: 100px !important;
}
.navbar {
	-webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.scrolled {
	position: fixed;
    background: white !important;
    padding-top: 0px;
}
.ico-menu{
	margin: 0 0 0 15px;
	float: right;
}
.ico-menu .menu-line{
	float: right;
	width: 32px;
	height: 3px;
	background: black;
	display: block;
	clear: both;
	margin-bottom: 5px;

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.ico-menu .menu-line.line02{
	width: 26px;
}
.ico-menu .menu-line.line03{
	width: 22px;
}
.ico-menu .menu-line.full-line{
	width: 32px;
}

#social-buttons img{
	width: 45px;
	margin-left: 10px;
	padding-top: 5px;
}

#menu {
	display: inline-block;
	float: right;
}
.menu-item{
	font-size: 40px;
    line-height: 72px;
    font-weight: 900;
    display: block;
    color: #292a33;
    width: 40%;

    margin: auto;
    padding: 15px;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sections-menu{
	display: inline-block;
	float: right;
}
#sections-menu a{
	font-size: 15px !important;
	font-color: black;
	text-decoration: none;
	text-transocial-buttonssform: uppercase;
}
.valign-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    top: 0;
}
.valign-content {
		display: table-cell;
    vertical-align: middle;
}
.close-img{
		position: absolute;
		width: 40px !important;
		top: 68px;
		right: 75px;
		cursor: pointer;
}
/*Classes for the Cards*/
.cards{
	padding: 20px;
	margin-bottom: 30px;
	background-color: #ebecf0;
}
.card{
	background-color: #ebecf0;
	margin-top: 25px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.img-card{
	background-color: white;
	margin-top: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.card-heading{
	font-size: 50px;
	line-height: 67px;
}
.card-subheading{
	font-size: 25px;
	line-height: 40px;
	padding-top: 50px;
}
.card-content{
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.8px;
	padding-top: 50px;
}
.blog-heading{
	text-align:center;
	padding-top:100px;
}
.blog-btn-div{
	/*border-top: solid 1px black; */
	/*text-align: center;*/
	/*margin-top:100px;*/
}
#aboutus{
	background: url('../img/case-studys/bg-home-works-kolayoto.png') no-repeat #047bbb;
	background-position: right;
	background-size: 36%;
	color: white !important;
}
#learning{
	background: url('../img/case-studys/bg-home-works-axion.png') no-repeat #cf54a8;
	background-position: 95% 85%;
	color: white !important;
}
#learning .card-heading {
	/*padding-top: 50px;*/
}
#impact{
	background-color: white;
}
#team{
	background: url('../img/case-studys/bg-home-works-team.jpg') no-repeat #ffff54;
    background-position: 95% bottom;
}
#team h3{
	font-size: 32px;
}
#joinus{
	background: url(../img/case-studys/bg-home-works-join.png) no-repeat #ffffff;
	background-position: 95% 30%;
	background-size: 210px;
}
/*#joinus .card-heading{
	margin-bottom: 150px;
}*/
#culture{
    background-position: 0% 0%;
    background-size: cover;
}
#culture .card-heading{
	padding-top: 20px;
	/*padding-bottom: 100px;*/
}
#blog{
	background: url(../img/case-studys/bg-home-works-blog.png) no-repeat #1abbc9;
  background-position: 100% 0%;
  background-size: 250px;
}
#contact{
	background-color: white;
	padding: 50px;
}
#meet{
  background: url(../img/case-studys/bg-home-works-contact.png) no-repeat #fff;
  /*background-position: 90% 15%;*/
	background-position: 90% 15%;
	background-size: 100px;
	/*background-size: 300px;*/
	margin-bottom: 50px;
	padding-bottom: 0 !important;
}
#footer{
	margin-top: 50px;
	border-top: solid 1px lightgray;
	font-size: 16px;
}
#footer .first{
	text-align: left;
}
#footer .second{
	text-align: center;
	padding-top: 45px;
}
#footer .third{
	text-align: right;
	padding-top: 45px;
}
.mobile-cover-page{
	display: none;
}
.mobile-cover-h1{
	display: none;
}
/* team page */
.hide {
	display: none;
}
.team-img p{
	line-height: 15px;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.team-desc p {
	line-height: 15px;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.team-cover-page{
	display: inline-block;
	background-image: url("../img/bg-intro-team.png") !important;
	background-color: rgb(254, 210, 44) !important;
	background-size: cover;
	height: 100vh;
	width: 100%;
	text-align: center;
	font-size: 32px;
}
.team-cover-page h1{
	font-size: 56px;
  line-height: 67px;
	background: none;
	padding-top: 50px;
}

#meet-team{
	text-align: center;
	background-color: white;
}
.team-member{
	width: 256px;
  height: 311px;
  border: 2px solid #f0f0f0;
  margin: 0 20px 32px 0;
  display: inline-block;
}
.team-member .team-member__name {
	background: white;
  color: #000;
  font-size: 24px;
  margin: 7px 0 2px;
}
.team-member .team-member__title {
  color: #575c67;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 12px;
}
.team-member__social-links {
  text-align: center;
  height: 32px;
}
.team-member ul{
	list-style: none;
	padding-left: 0px;
}
.team-member li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	float: center;.img-kryon
}
.team-member .team-member__social-links li .member-account {
  display: block;
  width: 100%;
  color: #818691 !important;
}
/*End of Classes for the Cards*/
/*class for careerpage*/
.view-pro{
	border-radius: 0;
	padding: 5px 10px !important;
	color: white !important;
	letter-spacing: 2px !important;
	cursor: pointer;
	text-decoration: none;
	background-color: #eb1871 !important;
	font-weight: 600;
	margin-top: 70px;
	position: absolute;
	right: 30px;
	bottom: 20px;
}
.position-title{
	font-size: 16px;
	background: none !important;
	color: #3F3F3F;
	font-weight: 600;
}
#openings{
	background-color: white;
}
#openings-card{
	background-color: white;
}
#openings .diff{
	border: 2px solid rgba(128, 128, 128, 0.18);
	padding: 20px 10px;
	margin-left: 20px;
	min-height: 265px;
	margin-top: 20px;
	position: relative;
}
#openings .diff p{
	margin: 0px !important;
	line-height: 15px;
}

.indent p{
	text-indent: -7px;
}
.no-indent p{
	text-indent: 0;
}
.img-wid{width: 100px;}
.career-cover-page{
	display: inline-block;
	background-image: url("../img/LXL_OP_Banner.png") !important;
	background-size: cover;
	height: 100vh;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: white;
}
.career-cover-page div{
	display:table-cell;
	vertical-align:middle;
	padding-top:85px;
	padding-left: 20%;
	text-align: left;
}
.career-cover-page h1{
	color: white;
	margin: 0;
	font-size: 56px;
	background: none;
	line-height: 67px;
}
.padd-60{
	padding: 60px;
}
.padd-30{
	padding: 30px !important;
}
.padd-0{
	padding: 0px;
}
.marg-t20{
	margin-top: 20px !important;
}
/*end of careerpage*/
/*class for workpage*/
.work-cover-page{
	display: inline-block;
	background-image: url("../img/Banner_img.png") !important;
	background-size: cover;
	height: 100vh;
	width: 100%;
	text-align: center;
}
.work-cover-page div{
	display:table-cell;
	vertical-align:middle;
	padding-top:85px;
	/*padding-left: 20%;*/
	/*text-align: left;*/
	text-align: center;
	font-size: 32px;
}
.work-cover-page h1{
	color: white;
  margin: 0;
  font-size: 56px;
	background: none;
	line-height: 67px;
}
.img-kryon{
	width: 400px;
}
.img-school{
	width: 280px;
}
#krayon-sec{
	background: #eb1871;
	padding: 25px 100px !important;
}
.krayon-content{
	background-image: url("../img/k.png");
	background-position: 95% 65%;
	background-color: white;
	padding: 12% 0px;
	background-repeat: no-repeat;
	background-size: 150px;
}
.award-count{
	font-size: 25px;
	color: #eb1871;
}
.people-count{
	font-size: 25px;
	color: #eb1871;
}
#mentor-sec{
	background: #15acc1;
	padding: 25px 100px !important;
}
.mentor-content{
	background-image: url("../img/metro_book.png");
	background-position: 100% 60%;
	background-color: white;
	padding: 12% 0px;
	background-repeat: no-repeat;
	background-size: 270px;
}
#schoolcinema-sec{
	background: #fed228;
	padding: 25px 100px !important;
}
.schoolcinema-content{
	background-image: url(../img/SC_img.png);
	background-position: 100% 0%;
	background-color: white;
	padding: 12% 0px;
	background-repeat: no-repeat;
	background-size: 120px;
}
#lxltech-sec{
	background-color: white;
	padding: 25px 100px !important;
	margin-bottom: 30px;
}
.lxltech-content{
	background-image: url(../img/we_page_image.png);
	background-position: 100% 100%;
	padding: 12% 0px;
	background-repeat: no-repeat;
	background-size: 200px;
}
.footer-ul{
	list-style: none;
	float: right;
	margin: 35px 50px;
}
.footer-ul li{
	float: left;
	margin-left: 20px;
}
.footer-ul li a{
	color: #565657 !important;
	text-decoration: none;
}
/*Class for Video*/
.cover-page{
	background-color: #ebecf0;
	border: none;
	position: relative;
	top: 0;
	z-index: 0;
	width: 100%;
}

#background{
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}
.i-scrolldown{
	position: absolute;
	top: 85%;
	left: 50%;
	cursor: pointer;
}
.scrolldown_wp{
	position: absolute;
	left: 50%;
	bottom: 10%;
	}
/*End of Video Class*/

/*Classess for Buttons*/
.btn {
	border-radius: 0;
  padding: 18px 62px;
  letter-spacing: 3px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  display: inline-block;
}
.btn.btn-line {
  border: 3px solid;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.btn.btn-line.btn-line__green:hover {
  background: #14c08a;
  color: #fff !important;
}
.btn.btn-line.btn-line__green {
  border-color: #14c08a;
  color: #14c08a !important;
}
.btn.btn-line.btn-line__dark:hover {
  border-color: #1b1c1f;
  background: #1b1c1f;
  color: #fff !important;
}
.btn.btn-line.btn-line__dark {
  border-color: #4b535f;
  color: #4b535f !important;
	border-radius: 0;
}
.btn.btn-line.btn-line__white:hover {
  border-color: #1b1c1f;
  background: #1b1c1f;
  color: #ffffff !important;
}
.btn.btn-line.btn-line__white {
  /*border-color: #000000;
  color: #ffffff !important;*/
	border-radius: 0;
	border-color: #ffffff;
  background: #ffffff;
  color: #4b535f !important;
}
.gmnoprint{
	display: none !important;
}
/*End of Classess for Buttons*/
@media only screen and (min-width: 1280px) {
	.map-loc{
		margin-right: -100px;
	}
}
@media only screen and (min-width: 992px) {
	#openings .diff{
		width: 31%;
	}
}
@media only screen and (max-width: 992px) {
	.krayon-content{
		background-image: none;
	}
	.mentor-content{
		background-image: none;
	}
	.schoolcinema-content{
		background-image: none;
	}
	.lxltech-content{
		background-image: none;
	}
	.scrolldown_wp{
		position: relative;;
		left: inherit;;
		margin-bottom: -35%;
		}
		.work-cover-page div{
			padding-left: 0;
	    text-align: center;
		}
		.career-cover-page div{
			padding-left: 0;
	    text-align: center;
		}
}

@media only screen and (max-width: 900px) {
	#sections-menu{
		display: none;
	}
	#aboutus{
		background-image: none;
	}
	#learning{
		background-image: none;
	}
	#team{
		background-image: none;
	}
	#joinus{
		background-image: none;
	}
	/*#culture{
		background-image: none;
	}*/
	#blog{
		background-image: none;
	}
	#meet{
		background-image: none;
	}
	/*.img-card{
		display: none;
	}*/
	#footer .first{
		text-align: center;
	}
	#footer .second{
		text-align: center;
	}
	#footer .third{
		text-align: center;
	}
	#learning .card-heading{
		padding-top: 0px;
	}
	/*#joinus .card-heading{
		margin-bottom: 75px;
	}*/
	.blog-heading{
			padding-top:0px;
	}
	/*.blog-btn-div{
	margin: 100px 20px 0px 20px;
}*/
	.marg-lr0{margin:10px 0px !important;}
	.cover-page{
		display: none;
	}
	.mobile-cover-page{
		display: inline-block;
		background-image: url("../img/bg-intro-home.jpg") !important;
		background-size: cover;
		height: 100vh;
		width: 100%;
		text-align: center;
	}
	.mobile-cover-page h1{
		font-size: 45px;
	  line-height: 60px;
		background: none;
		padding-top: 50px;
	}
	.mobile-cover-page{
		font-size: 25px;
	}
	.mobile-cover-h1{
		display:table-cell;
		vertical-align:middle;
	}
	.mobile-cover-h1 h1{
		color: white;
	}
	.wid-100{width: 100% !important;}
	.img-kryon{
		width: 280px;
	}
	#footer_wp{
		padding: 0px !important;
	}
	.footer-ul{
		margin: 10px 0px;
	}


}




@media only screen and (max-width: 800px) {

	.ico-menu .menu-line{
		width: 21px;
		height: 2px;
	}
	.ico-menu .menu-line.line02{
		width: 18px;
	}
	.ico-menu .menu-line.line03{
		width: 15px;
	}
	.ico-menu .menu-line.full-line{
		width: 21px;
	}
	/*#joinus .card-heading{
		margin-bottom: 50px;
	}*/
	#footer .third{
		padding-top: 10px;
	}
	#footer .second{
		padding-top: 10px;
	}
	.marg-tp20{
		margin-top: 20px !important;
	}


}
@media only screen and (min-width: 500px) and (max-width:800px){
	.work-cover-page h1{
		font-size: 42px;
		line-height: 50px;
	}
	.career-cover-page h1{
		font-size: 42px;
		line-height: 50px;
	}
}

@media only screen and (max-width: 500px) {
	.map-loc{
		margin: 10px 0px !important;
    padding: 50px;
	}
	.navbar-default{
		padding-left: 0px;
		padding-right: 30px;
	}
	.btn{
		padding: 12px 16px;
    letter-spacing: 1px;
		font-size: 15px !important;
	}
	.card-heading{
		font-size: 40px;
		line-height: 55px;
	}
	.card{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.card-subheading {
    font-size: 20px;
    line-height: 35px;
    padding-top: 35px;
	}
	.card-content {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.4px;
    padding-top: 40px;
	}
	.marg-t10{
		margin-top: 10px !important;
	}
	#footer{
		padding-top: 10px;
	}
	.team-cover-page h1 {
    font-size: 45px;
    line-height: 60px;
    background: none;
    padding-top: 0px;
	}
	.team-cover-page {
    font-size: 25px;
	}
	.career-cover-page h1 {
    font-size: 45px;
    line-height: 60px;
    background: none;
    padding-top: 0px;
	}
	.career-cover-page {
    font-size: 22px;
	}
	.slide-share{
		margin-left: 0;
	}
	.i-scrolldown{
		position: relative;
		margin-top: 10%;
		cursor: pointer;
	}
	.img-kryon{
		width: 220px;
	}
	.img-school{
		width: 200px;
	}
	.work-cover-page h1{
		font-size: 35px;
		line-height: 35px;
	}
	.career-cover-page h1{
		font-size: 35px;
		line-height: 35px;
	}
	#krayon-sec {
		padding: 10px 30px !important;
	}
	#mentor-sec {
		padding: 10px 30px !important;
	}
	#schoolcinema-sec {
		padding: 10px 30px !important;
	}
	#lxltech-sec{
		padding: 10px 30px !important;
	}
	.work-cover-page div{
		padding-top: 100px;
	}
	.career-cover-page div{
		padding-top: 50px;
	}
	#openings .diff{
		margin-left: 0px !important;
	}
	.padd-20{
		padding: 20px !important;
	}

	/*.scrolldown_wp {
    position: relative;
    margin-top: 10%;
    left: 36%;
    cursor: pointer;
}*/
}

/*margin-styles*/
.footer-marg{margin: 7em 5em 0 5em;}
.marg-t50{ margin-top: 50px;}

/* font*/
.ft-12{font-size: 12px;}
