<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="favicon.png">

	<title>
		LXL Ideas
	</title>

	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="js/angularApp.js"></script>
	<!-- BootStrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Font-Awesome -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<!-- jPushMenu -->
	<link rel="stylesheet" type="text/css" href="plugins/jpushmenu/css/jpushmenu.css">
	<script type="text/javascript" src="plugins/jpushmenu/js/jpushmenu.js"></script>


	<!-- Custom CSS & JS -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script type="text/javascript" src="js/scripts.js"></script>

	<style type="text/css">

	</style>
</head>
<body ng-app="lxl-team" ng-controller="TeamCtrl">
	<div class="container nav-bar">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header" style="display: inline-block">
		      <a class="navbar-brand" href="index.html">
		      	<img class="logo-ht" src="img/logo.png" alt="LXL" id="logo">
		      </a>
		    </div>

		    <div id="menu">
		    	<h4 style="background:none">
				    <ul class="nav navbar-nav navbar-right" style="padding-top:25px; padding-left:30px;">
				    	<li>
				    		<button id="menu" class="toggle-menu menu-right push-body">
				    			MENU
				    			<div class="ico-menu">
				    				<span class="menu-line line01"></span>
				    				<span class="menu-line line02"></span>
				    				<span class="menu-line line03"></span>
				    			</div>
				    		</button>
				    	</li>
				    </ul>
			    </h4>
		    </div>
		  </div>
		</nav>
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" style="overflow: hidden;">
		    <div class="valign-container">
						<img class="close-img" src="img/circle-close.png">
		        <div class="valign-content">
		            <a href="http://krayonevents.com/" target="_blank" class="menu-item active"><img src="img/logos/Krayon_logo.png"></a>
								<a href="http://schoolcinema.net/" target="_blank" class="menu-item"><img src="img/logos/schoolcinema.png"></a>
								<a href="http://www.mentormagazine.net/" target="_blank" class="menu-item"><img src="img/logos/Mentor_logo.png"></a>
		            <a href="http://www.activityindia.com/" target="_blank" class="menu-item"><img src="img/logos/activity.png"></a>
		        </div>
		    </div>
		</nav>
	</div>

	<section class="team-cover-page" style="display: table">
		<div style="display:table-cell; vertical-align:middle;padding-top:85px;">
			<h1>Together Everyone Achieves More!</h1>
			<p>
				We Contribute. We Have Ideas. We have a voice.
			</p>
			<a href="#meet-team">
				<img src="img/scroll_down_black.png" class="scrolldown_wp" /></a>
				<!-- <i class="fa fa-long-arrow-down i-scrolldown" aria-hidden="true"></i> -->
			</a>
		</div>
	</section>

	<section class="cards">

		<div id="meet-team" class="card col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
			<div class="row" style="margin-bottom: 50px;">
				<div class="card-heading col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8" style="padding-top: 30px; margin-bottom: 50px;">
					Meet our team.
				</div>
				<div class="card-content">
					<div class="row" style="margin-left: 1px; margin-right:1px;">
						<div class="col-md-2" ng-repeat="employee in employees" style="position:relative; float: left; margin-top: 20px;">
							<div id="team-img-{{employee.id}}" class="team-img" style="position:relative; width:100%; padding-top: 15px; margin-bottom: 10px;">
								<img style="height: 100px; width: 100px; border-radius: 50%" src="img/team/{{employee.photo}}">
								<p style="font-size: 15px;">{{employee.name}}</p>
							</div>
							<div id="team-desc-{{employee.id}}" class="team-desc" style="width:100%; padding-top: 15px; padding-bottom: 10px; background: rgb(254, 210, 44); position: absolute; left:0px; top:0px; z-index: 9999" class="hide">
								<img style="height: 100px; width:100px; border-radius: 50%" src="img/team/{{employee.photo}}">
								<p style="background: none; font-size: 15px;">
									{{employee.name}}
								</p>
								<p style="font-size: 14px;">
									{{employee.department}}
								</p>
								<p>
	                            	<a href="{{employee.in}}" target="_blank" class="member-account">
	                                	<i class="fa fa-linkedin"></i>
	                            	</a>
	                            </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="joinus" class="card col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
			<div class="row">
				<div class="card-heading col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
					Join our team
				</div>
				<div class="card-content col-md-offset-1 col-md-6 col-lg-offset-2 col-lg-7">
					We're looking for those who learn from their experiences and who is up for learning more.
					<p>
						<a style="margin-top:30px;" href="career.html" class="btn btn-line btn-line__dark goto-next">CAREERS</a>
					</p>
				</div>
			</div>
			<div id="footer" class="row footer-marg marg-lr0 marg-t10" style="border-top:solid 1px gray; margin-top:110px;">
				<div class="first col-sm-3">
					<img src="img/logo.png">
				</div>
				<div class="second col-sm-5 ft-15">
					<span style="font-size: 22px;">&copy;</span>Copyright 2016. LXL Ideas.
				</div>
				<div class="third col-sm-4 ft-15">
					Creatives by <a style="font: inherit; text-decoration: none; cursor: pointer; " href="http://letssos.com" target="_blank">LetsSOS</a>
				</div>
			</div>
		</div>
		<script type="text/javascript" >
			$(document).ready(function(){

				$('.team-img').mouseover(function(){
					var str = $(this).attr('id');
					str = str.substring(9);
				 	$('#team-desc-'+str).removeClass('hide');
				 	console.log('removed');
				});

				$('.team-desc').mouseleave(function(){
				 	$(this).addClass('hide');
				 	console.log('added');
				});

				$('.team-desc').addClass('hide');
			});

			// $('#team-img-{{employee.id}}').mouseover(function(){
			// 	console.log('in');
			// 	$('#team-desc-{{employee.id}}').removeClass('hide');
			// });
			// $('#team-desc-{{employee.id}}').mouseleave(function(){
			// 	console.log('out');
			// 	$('#team-desc-{{employee.id}}').addClass('hide');
			// });
		</script>
	</section>
</body>
</html>
